# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [{py: "3.6", nx: "2.0"},
                         {py: "3.7", nx: "2.1"},
                         {py: "3.8", nx: "2.3"},
                         {py: "3.9", nx: "2.5"},
                         {py: "3.10", nx: "2.6"}]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version.py }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version.py }}
    - name: Install dependencies
      env:
        NETWORKX_VERSION: ${{ matrix.python-version.nx }}
      run: |
        python -m pip install --upgrade pip
        # python -m pip install flake8 pytest
        pip install -r requirements-travis.txt
#    - name: Increase Stack for MacOS
#      run: |
#          ulimit -s 65532
#      if: ${{ matrix.os == 'macos-latest' }}

#    - name: Lint with flake8
#      run: |
#        # stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest modelx/tests/
